<center><h1> Welcome to The Party Planner </h1>

<h3><p>Steps to planning a great party</p></h3></center>

<!--<center>
<table>
<tr><td>1. Sign up as a user.</td></tr>
<tr><td>2. Create a party. </td></tr>
<tr><td>3. Add supplies.</td></tr>
<tr><td>4. Send out invites to your friends.</td></tr>
<tr><td>5. PARTY!!</td></tr>
</table>
</center>-->

<center><%= image_tag("party.jpg",:border => 3) %></center>
